.languages {
    list-style-type: lower-roman;
    color: black;
    background-color: lightgreen;
    border: 2px solid black;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
.languages ul {
    list-style-type: circle;
}

.languages li:hover {
    color: white;
    background-color: black;
    border: 2px solid red;
    font-family: sans-serif;
    font-size: 30px;
}