
.pirveli {
    color: red;              
    font-size: 40px;         
    background-color: green; 
    border: 3px solid purple;
}


.meore {
    color: orange;                 
    font-size: 20px;              
    background-color:purple;      
    border: none;                  
}
