table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

th {
    background: #009688;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.highlight {
    background: #e0f2f1;
    color: green;
    font-weight: bold;
}