

div li {
    border: 2px solid green;
    background-color: blue;
     color: red;
    font-size: 35px
}


nav li {
    border: 2px solid purple;
    background-color: yellow;
    color: brown;
    font-size: 50px;
}
    